/* slide */
.img-slide-packages {
    background: url('/assets/img/parallax-search-2.jpg')  / cover no-repeat;
    z-index: -1;
    position: absolute;
    top: 0;
    padding-top: 62.5%;
    width: 100%;
}