/* button */
.btn-red {
    background-color: #f76570;
}

.p-white {
    color: #fff;
}

/* slide */
.img-slide-packages {
    background: url('/assets/img/parallax-search-2.jpg') top center / cover no-repeat;
    z-index: -1;
    position: absolute;
    top: 0;
    padding-top: 45%;
    width: 100%;
}

/* buuto */